<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <title>Your Sims</title>
    <link rel="icon" type="image/x-icon" href="/assets/plumbob.png" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="content">
      <div>
        <h1>Your Sims</h1>
      </div>
      <div>
        <a href="/users/<%= user._id %>/sims/new">Add A New Sim</a>
      </div>
      <div class="gallery">
          <% sims.forEach((sim) => { %>
            <a href="/users/<%= user._id %>/sims/<%= sim._id %>">
              <img src="<%= sim.photo %>" alt="<%= sim.name %>" width="300px">
              <%= sim.name %>
            </a>
          <% }) %>
      </div>
    </section>
  </body>
  <footer>
    <p>© 2025 Your Sims Now</p>
  </footer>
</html>
