<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <title>Your Sims</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to Your Sims!</h1>
    <a href="/users/<%= user._id %>/sims/new">Add A New Sim</a>
    <ul>
        <% sims.forEach((sim) => { %>
            <li>
                <a href="/users/<%= user._id %>/sims/<%= sim._id %>">
                    <%= sim.name %>
                </a>
            </li>
            <% }) %>
    </ul>
</body>
</html>