<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <title>Your Sim</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= sim.name %></h1>
    <img src="<%= sim.photo %>" alt="<%= sim.name %>" width="500px">
    <p>Life stage: <%= sim.lifeStage %></p>
    <p>Occult: <%= sim.occult %></p>
    <p>Sexuality: <%= sim.sexuality %></p>
    <p>World: <%= sim.world %></p>
    <p>Career: <%= sim.career %></p>
    <p>Personality Traits: <%= sim.personalityTraits %></p>
    <p>Aspiration: <%= sim.aspiration %></p>
    <p>Partner: <%= sim.partner %></p>
    <p>Fashion Style: <%= sim.fashionStyle %></p>
    <p>Comments: <%= sim.comments %></p>

    <a href="/users/<%= user._id %>/sims/<%= sim._id %>/edit">
        Edit Sim
      </a>

    <form
    action="/users/<%= user._id %>/sims/<%= sim._id %>?_method=DELETE"
    method="POST">
    <button type="submit">Delete Sim</button>
  </form>

</body>
</html>